div.form-login {
    padding-top: 50px;
    flex: 1;

    h3.title-form-login {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }

    p {
        text-align: center;
        margin-bottom: 30px;
    }

    div.form {
        display: flex;
        justify-content: center;
        gap: 30px;

        form {
            flex: 0.5;

            label.ant-form-item-required,
            label span {
                color: var(--text);
            }
        }

        div.right-fnc {
            flex: 0.3;
        }
    }
}